@charset = 'UTF-8';

/*Estilização de tabela*/
table{
	float: right;
	margin: -30px 5px 5px 5px;
	background-color: #efefef;
	padding: 20px;
	text-align: left;
	border-radius: 8px;

}

table tr td{
	padding-left: 15px;
	text-align: left;
	z-index: 9999;
	border: solid 2px white;
}

table th{
	text-align: center;
	background-color: gray;
	border-radius: 8px 8px 0px 0px;
	color: white;
	padding: 5px;
	border-right: solid 2px white;

}
/*estilização dos botões*/
svg.pencil{
	color: green;
	width: 20px;
	margin: 5px;

}

svg.delete{
	color: #f35858;
	width: 20px;
	margin: 5px;
}

/*Estilização dos flash-messages*/
p.sucess{
	background-color: #a8f5a8;
	margin: 0;
	display: flex;
	justify-content: center;
	color: green;
	font-weight: bold;
	padding: 10px;
}

p.update{
	background-color: #cccce7;
	margin: 0;
	display: flex;
	justify-content: center;
	color: #0a0a91;
	font-weight: bold;
	padding: 10px;
}

p.remove{
	background-color:#f97070;
	margin: 0;
	display: flex;
	justify-content: center;
	color: #600202;
	font-weight: bold;
	padding: 10px;
}
